body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.header {
  padding: 10px;
  background-color: #3d5a80;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;

}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 1.5rem;
}

.fire-marker {
  color: #d90429;
}

.volcano-marker {
  color: #9e2a2b;
}

.iceberg-marker {
  color: #023e8a;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 200px;
}

.location-info {
  position: absolute;
  top: 70px;
  right: 20px;
  width: 230px;
  min-height: 150px;
  padding: 10px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 10px;
  font-size: 16px;
  color: #fff;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: 5px 0;
}